---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About me!";

const myInfo = {
  name: "Aaron Park",
  country: "South Korea",
  occupation: "Scientist",
  ProfessionalInterest: [
    "Data science",
    "Scientific visualization",
    "Game art development",
    "UI developer",
  ],
  skills: ["HTML", "CSS", "JavaScript", "Astro", "React", "Python", "Julia"],
  hobbies: ["Run", "Play", "Meet with friends"],
};

// CSS value variables
const skillColor = "navy";
const skillFontFamily = '"Courier New", Courier, monospace';
---

<BaseLayout pageTitle={pageTitle}>
  <div>
    <p>Hi! my name is {myInfo.name}. I am living in {myInfo.country}.</p>
    <p>My professional interest are:</p>
    <ul>
      {myInfo.ProfessionalInterest.map((interest) => <li>{interest}</li>)}
    </ul>
    <p>My skills:</p>
    <ul>
      {myInfo.skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>
  </div>
  <div>
    {
      myInfo.hobbies.length > 5 ? (
        <p>I have quite a lot hobbies.</p>
      ) : (
        <p>I have only {myInfo.hobbies.length} hobbies.</p>
      )
    }
  </div>
</BaseLayout>
